.grid-layout {
  display: grid;
  grid-template-columns: 100%;
  background: #222222;
  color: rgba(255, 255, 255, 0.684);
  font-family: "Nunito";
}


.iconos {
  font-size: 30px;
}

.git {
  color: black;
}

.wp {
  color: rgb(75, 158, 86);
}

.datos {
  color: rgba(255, 255, 255, 0.684);
  font-size: 13px;
  margin-right: 80px;
}




