.grid-layout {
  display: grid;
  grid-template-columns: 100%;
  background-color: rgba(143, 157, 172, 0.3);
}

.header {
  margin-top: 50px;
  margin-bottom: 15px;
  color: rgba(255, 255, 255, 0.684);
}


.iconos {
  font-size: 30px;
}

.git {
  color: black;
}

.wp {
  color: rgb(75, 158, 86);
}

.datos {
  color: rgba(255, 255, 255, 0.684);
  font-size: 13px;
  margin-right: 80px;
}




