<div class="grid-layout">

  <div class="contacto-header">
    <p class="header"  fxLayoutAlign="center center">Contacto</p>
    <hr>
  </div>

  <div fxLayout="row" fxLayoutAlign="center center">

    <!-- Linkedin -->
  <div class="linkedin">
    <a target="_blank" href="https://www.linkedin.com/in/leandro-aguilera-63897a4a/">
      <img src="../../../assets/img/logos/linkedin.png" class="linkedin" >
    </a>
  </div>

  <!-- Git -->
  <div class="git">
    <a target="_blank" href="https://github.com/leandroagl">
      <img src="../../../assets/img/logos/git.png" class="git" />
    </a>
  </div>

</div>

<!-- Facebook -->
<!-- <a target="_blank" href="https://www.facebook.com/leandro.aguilera">
  <img src="../../../assets/img/logos/facebook.png" class="facebook" />
</a> -->

<!-- Formulario -->
<div class="contacto-form">
  <div class="mb-3">
    <input type="text" class="form-control" placeholder="Nombre" />
  </div>
  <div class="mb-3">
    <input type="email" class="form-control" placeholder="Email" />
  </div>
  <div class="mb-3">
    <textarea
      class="form-control"
      rows="6"
      placeholder="Motivo del contacto.."
    ></textarea>
  </div>
</div>

<div class="btnForm">
  <button type="button" class="btn btn-primary">Enviar!</button>
</div>

</div>


