<div class="grid-layout">

  <!-- Facebook -->
  <!-- <a target="_blank" href="https://www.facebook.com/leandro.aguilera">
    <img src="../../../assets/img/logos/facebook.png" class="facebook" />
  </a> -->

  <div fxLayout="row" fxLayoutAlign="center center" class="mb-4 mt-4">
    <div class="datos" fxLayout="column" fxLayoutAlign="start">
      <div class="mb-3" >
        <h5>Contactame!</h5>
      </div>
      <p><u>Email:</u> leandro.n.aguilera@gmail.com</p>
      <p><u>Dirección:</u> Ramos Mejía, Buenos Aires, Argentina.</p>
    </div>

    <div fxLayout="row" fxLayoutAlign="space-around center" class="iconos">
      <!-- Linkedin -->
      <div class="iconos linkedin">
        <a
          target="_blank"
          class="bi bi-linkedin"
          href="https://www.linkedin.com/in/leandro-aguilera-63897a4a/"
        >
        </a>
      </div>

      <!-- Git -->
      <div class="ml-4 iconos git">
        <a
          target="_blank"
          class="bi bi-github git"
          href="https://github.com/leandroagl"
        >
        </a>
      </div>

       <!-- WhatsApp -->
       <div class="ml-4 iconos">
        <a
          target="_blank"
          class="bi bi-whatsapp wp"
          href="https://www.linkedin.com/in/leandro-aguilera-63897a4a/"
        >
        </a>
      </div>


    </div>
  </div>
</div>
