.grid-layout {
  display: grid;
  grid-template-columns: 100%;
  background-color: rgba(143, 157, 172, 0.3);

}

.contacto-header {
  margin-left: 6rem;
  margin-right: 6rem;
  font-weight: 400;
  font-size: 24px;
  line-height: 2rem;
  letter-spacing: 0.4px;

  color: #ffffff;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.61);
}

.header {
  margin-top: 3rem;
  margin-left: 3rem;
}

hr {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.61);
  border: 0;
  height: 1px;
  background-image: linear-gradient(
    to right,
    rgba(95, 215, 255, 0.842),
    rgba(109, 214, 253, 0.144),
    rgba(95, 215, 255, 0.842)
  );
}

.contacto-form {
  width: 20rem;
  justify-self: center;
  align-self: center;
  margin-top: 3rem;
}

.linkedin {
  margin-right: 15px;
}

.git {
  margin-left: 15px;
}

.facebook {

}

.btnForm {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 5px 9px;

  border-radius: 3.2px;
}
