<div class="grid-layout">
  <div class="bg bg-filter">
    <div fxLayout="row" fxLayoutAlign="end">
      <app-navbar class="box"></app-navbar>
    </div>

    <!-- Presentación y background-->
    <div fxLayout="column" fxLayoutAlign="center center">
      <app-presentacion-name class="box"></app-presentacion-name>
    </div>
  </div>

<div class="box">
    <app-about class="box" id="about"></app-about>

</div>

  <div class="box-skills" id="skills">
    <app-skills></app-skills>
  </div>

  <div class="box">
    <app-trabajos class="box" id="trabajos"></app-trabajos>
  </div>

  <div class="box">
    <app-contacto class="box" id="contacto"></app-contacto>
  </div>

</div>
