.grid-layout {
  display: grid;
  grid-template-columns: auto;

  width: 100%;
  height: 100%;
  margin: 0 auto;
}

.bg{
  filter: blur(1px);
  --opacidad-negro: 0.6;
  background: linear-gradient(rgba(0, 0, 0, var(--opacidad-negro)), rgba(0, 0, 0, var(--opacidad-negro))), url('../../assets/img/background/universe.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover;

  box-shadow: 0 12rem 12rem 0 rgba(0, 0, 0, 0.86);

  margin-bottom: 6rem;

  height: auto;
}

.box {
  width: 100%;
  height: 100%;
  justify-content: center;
}

.box-skills {
  width: 80%;
  height: 80%;
  justify-self: center;
}

