.grid-layout {
  padding: 0;
  display: grid;
  grid-template-columns: auto;

  width: 100%;
  height: 100%;
  margin: 0 auto;


}

.bg-filter::after {
  -webkit-backdrop-filter: blur(1px);
  backdrop-filter: blur(1px);
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
}

.bg {
  --opacidad-negro: 0.6;
  background: linear-gradient(
      rgba(0, 0, 0, var(--opacidad-negro)),
      rgba(0, 0, 0, var(--opacidad-negro))
    ), linear-gradient(to top, rgba(0, 0, 0, 0.912), rgba(118, 182, 251, 0.357)),
    url("../../assets/img/background/background33.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover;

  box-shadow: 0 4rem 4rem 0 rgba(0, 0, 0, 0.485);
  height: auto;
}



.box {
  position: relative;
  z-index: 1;
  width: 100%;
  height: 100%;
  justify-content: center;
}

.box-navbar {
  position: fixed;
  z-index: 100;
}

.box-skills {
  width: 100%;
  height: 100%;
  justify-self: center;
}



