<div class="grid-layout">
  <div class="bg bg-filter animate__fadeIn" id="home">
    <!-- NavBar -->
    <div fxLayoutAlign="end" fxLayoutAlign.xs="start" fxLayoutAlign.sm="center">
      <app-navbar class="box-navbar"></app-navbar>
    </div>
    <!-- Presentación y background-->
    <div fxLayout="column" fxLayoutAlign="center center">
      <app-presentacion-name class="box"></app-presentacion-name>
    </div>
  </div>

  <!-- Acerca de mi -->
  <div class="box">
    <app-about id="about"></app-about>
  </div>

  <!-- Skills -->
  <div class="box" id="skills">
    <app-skills class="box-skills"></app-skills>
  </div>

  <!-- Trabajos -->
  <div class="box">
    <app-trabajos id="apps"></app-trabajos>
  </div>

  <!-- Contacto -->
  <div class="box">
    <app-contacto class="box-contacto" id="contacto"></app-contacto>
  </div>
</div>
