<div class="grid-layout" fxLayout="column">

  <div class="margin">

    <div class="header">
      <app-divider [sectionHeader]="'Acerca de mi'"></app-divider>
    </div>

    <div class="datos" fxLayout="column" fxLayoutAlign="space-evenly center">
      <!-- Iconos de perfil -->
      <app-perfil-icon-text
        [iconClass1]="'bi bi-speedometer'"
        [iconClass2]="'bi bi-lightbulb'"
        [iconClass3]="'bi bi-laptop'"
        [iconText1]="'
        Interecciones rápidas y fluidas para una mejor experiencia de usuario.'"
        [iconText2]="'
        Fuertes prefencias para el facil e intuitivo uso de la interfaz de usuario.'"
        [iconText3]="'
        Desarrollo de aplicaciones responsive para adaptarse a cualquier dispositivo.'"
      ></app-perfil-icon-text>

      <!-- Foto -->
      <div fxLayout="column wrap"   fxLayoutAlign="center center">
        <img src="./assets/img/perfil/perfil.jpg" class="foto" />
        <div class="text-about" fxFlex.lt-sm="10" fxLayout="column">
          <p>
            Actualmente estoy trabajando como IT Manager brindando asistencia técnica a diferentes empresas de Argentina
            y como Developer FreeLance. Llevo alrededor de 10 años trabajando en el sector de IT donde pude avanzar
            con mi educación de manera autodidacta, adiquiriendo cursos y aprendiendo de compañeros y amigos.
            Disfruto mucho trabajar en equipo y para el equipo, soy una persona que apela por las buenas practicas y
            flujos de trabajo dinamicos y agiles, facilitarle el trabajo a los demás es algo gratificante!
          </p>
        </div>
      </div>

      <!-- Experiencias -->
    </div>

    <div class="exp">
      <app-experience ></app-experience>
    </div>

  </div>
</div>

