<div class="grid-layout" fxLayout="column">

  <div class="margin">

    <div class="header">
      <app-divider [sectionHeader]="'Acerca de mi'"></app-divider>
    </div>

    <div class="datos" fxLayout="column" fxLayoutAlign="space-evenly center">
      <!-- Iconos de perfil -->
      <app-perfil-icon-text
        [iconClass1]="'bi bi-speedometer'"
        [iconClass2]="'bi bi-lightbulb'"
        [iconClass3]="'bi bi-laptop'"
        [iconText1]="'
        Las interecciones rápidas y fluidas son mis atracciones a la hora de desarrollar una interfaz web.'"
        [iconText2]="'
        Me interesan los diseños simples e intuitivos, tengo un fuerte conocimientos sobre las necesidades de los usuarios a la hora de interactuar con un sitio.'"
        [iconText3]="'
        Intento que mis trabajos puedan adaptarse en dispositivos grandes o pequeños.'"
      ></app-perfil-icon-text>

      <!-- Foto -->
      <div fxLayout="column wrap"   fxLayoutAlign="center center">
        <img src="./assets/img/perfil/perfil.jpg" class="foto" />
        <div class="text-about" fxFlex.lt-sm="10" fxLayout="column">
          <p>
            Soy Full Stack Developer y IT Manager en Buenos Aires, Argentina.
            Tengo una gran atracción por los diseños simples, flexibles y elegantes, sin dejar afuera
            las correctas interacciones con un servidor backend y su bases de datos.
            Conozco bastante sobre las necesidades de los usuarios para ofrecer soluciones que se adapten a sus necesidades.
          </p>
        </div>
      </div>

      <!-- Experiencias -->
    </div>

    <div class="exp">
      <app-experience ></app-experience>
    </div>

  </div>
</div>

