<div class="grid-layout" fxLayout="column" fxLayoutAlign="center center">
  <div class="header">
    <app-divider [sectionHeader]="'Skills'"></app-divider>
  </div>

  <div
    class="datos-perfil"
    fxLayout="column"
    fxLayoutAlign="space-evenly center"
  >
    <!-- Trío de iconos con texto -->
    <app-perfil-icon-text
      [iconClass1]="'bi bi-code-slash'"
      [iconClass2]="'bi bi-hdd-rack'"
      [iconClass3]="'bi bi-person-check-fill'"
      [iconText1]="'Txto de prueba 1'"
      [iconText2]="'Texto de prueba 2 asdnajnd asjdnjksda emskne'"
      [iconText3]="'Ksmjrkkd msjkjfje jsmakjf'"
      ></app-perfil-icon-text>

    <!-- CardNav con logotipos de tecnologías -->
    <app-card-skills></app-card-skills>
  </div>
</div>
