<div class="grid-layout" fxLayout="column" fxLayoutAlign="center center">
  <div class="header">
    <app-divider [sectionHeader]="'Skills'"></app-divider>
  </div>

  <div
    class="datos-perfil"
    fxLayout="column"
    fxLayoutAlign="space-evenly center"
  >
    <!-- Trío de iconos con texto -->
    <app-perfil-icon-text
      [iconClass1]="'bi bi-code-slash'"
      [iconClass2]="'bi bi-hdd-rack'"
      [iconClass3]="'bi bi-person-check-fill'"
      [iconText1]="'
      Orientado a Angular, trabajo siguiendo las buenas prácticas de la programación para escribir código legible, entendible y de calidad'"
      [iconText2]="'
      Amplia experiencia en el área de IT, la infraestructura también es importante así como también la administración de plataformas hostings y servicios en la nube.'"
      [iconText3]="'
      Entender a los usuarios también es importante lo que implica entender bien sus necesidades para mejorar la experiencia.'"
      ></app-perfil-icon-text>

    <!-- CardNav con logotipos de tecnologías -->
    <app-card-skills></app-card-skills>
  </div>
</div>
