.nav {
  background: rgba(0, 0, 0, 0.5);
  mix-blend-mode: overlay;
  box-shadow: 3px 3px 3px;
}

.marginR-10 {
  margin-right:10px;
}

.nav-item .nav-link {
  font-family: "Nunito";
  color: rgb(255 255 255);
  font-size: 16px;
}

.zoom:hover {
  transform: scale(1.2);
}

.zoom {
  transition: transform .1s;
}

a {
  cursor: pointer;
}
