<div fxLayoutAlign="end center" class="animate__animated animate__fadeInUp">
  <nav class="navbar navbar-expand-lg navbar-light">
    <div class="container-fluid">
      <div class="collapse navbar-collapse" id="navbarText">
        <ul class="navbar-nav me-auto mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" (click)="toAbout()">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" (click)="toSkills()">Skills</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" (click)="toTrabajos()">Trabajos</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" (click)="toContacto()">Contacto</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Descargar CV</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</div>
