<div class="grid-layout">
  <div class="box" fxLayout="column" fxLayoutAlign="center center">
    <!-- Header -->
    <div
      class="b-header"
      fxLayout="row wrap"
      fxLayout.xs="column"
      fxLayoutAlign.cs="center center"
    >
      <h1 class="animate__animated animate__fadeInDown mr-4">Hola!</h1>
      <h1 class="animate__animated animate__fadeInDown animate__delay-1s">
        soy Leandro
      </h1>
    </div>
    <!-- Heads -->
    <div class="b-heads animate__animated animate__fadeInUp animate__delay-2s">
      <p>Software Developer & IT Manager</p>

      <!--   <div class="b-img">
        <img src="../../../assets/img/background/universe.jpg">
      </div> -->
    </div>
  </div>
</div>
