

  <div class="grid-layout">
    <div class="box" fxLayout="column" fxLayoutAlign="center center">
      <!-- Header -->
      <div class="b-header">
        <h1 class="animate__animated animate__fadeInDownBig">Hola, soy Leandro!</h1>
      </div>
      <!-- Heads -->
      <div class="b-heads animate__animated animate__fadeInUpBig">
        <p>Desarrollador web y Administrador de</p>
        <p>Infraestructura Tecnológica</p>
      </div>

    <!--   <div class="b-img">
        <img src="../../../assets/img/background/universe.jpg">
      </div> -->
    </div>
  </div>

