<!-- Experiencia -->
<div
  fxLayout="row"
  fxLayoutAlign="space-evenly start"
  fxLayoutAlign.sm="center center"
  fxLayoutAlign.xs="center center"
  fxLayout.sm="column"
  fxLayout.xs="column"
>
  <!-- IT Manager -->
  <div class="card mb-5">
    <div class="card-body">
      <h4>IT Manager</h4>
      <ul class="timeline">
        <li>
          <a target="_blank" href="https://www.ondra.com.ar"><b>ONDRA SRL.</b></a>
          <p>Especialista Técnico Superior</p>
          <p class="float-right">2016 - actual</p>
          <p>
            Administrador de infraestructuras de red, soporte a plataformas de
            virtualización, administración avanzada de plataformas online
            Office365, Gsuite.
          </p>
        </li>
        <li>
          <a target="_blank" href="https://borealtech.com/"><b>Boreal Technologies</b></a>
          <p>Consultor Técnico</p>
          <p class="float-right">2016</p>
          <p>
            Asistencia local para usuarios de importante tarjeta de crédito,
            mantenimiento del parque informático y soporte crítico para usuarios
            de call center
          </p>
        </li>
        <li>
          <a target="_blank" href="https://www.sonda.com/"><b>Sonda</b></a>
          <p>Especialista Técnico</p>
          <p class="float-right">2012 - 2015</p>
          <p>
            Tecnico de campo para grandes multinacioneles, brindando respuesta
            inmediata y de alta eficiencia en conjunto con mesas de ayuda
            extranjeras.
            <br />
            <a target="_blank" href="https://www.batargentina.com/">British American Tobacco</a>
            <br />
            <a target="_blank" href="https://www.telecom.com.ar/">Telecom</a>
          </p>
        </li>
      </ul>
    </div>
  </div>

  <!-- Developer -->
  <div class="card mb-5">
    <div class="card-body">
      <h4>Desarrollador Web</h4>
      <ul class="timeline">
        <li>
          <a target="_blank" href="http://leandroaguilera.com"><b>Freelance Developer</b></a>
          <p class="float-right">2021 - 2022</p>
          <p>
            Actualmente <br> estoy trabajando en proyectos personales, ayudando a la
            empresa donde trabajo con el desarrollo de un software web que
            facilite el trabajo de los técnicos, para organizar la información y
            visualizar métricas que ayuden en el día a día
          </p>
        </li>
        <li>
          <a target="_blank" href="https://github.com/matiassantos/meat-manager"
            ><b>Front End Developer & Analist - Proyecto Freelance</b></a
          >
          <p class="float-right">2020 - 2021</p>
          <p>
            Formé parte de un proyecto Freelance para un frigorifico durante 1
            año, me encargué de hablar con el cliente y entender las necesidades
            para un diseño simple y sencillo en reemplazo de un viejo software.
            Lamentablemente el proyecto no se finalizó.
          </p>
        </li>
      </ul>
    </div>
  </div>
</div>
