<div class="grid-layout" fxLayout.xs="column" fxLayoutGap.xs="5%">
  <!-- Header -->
  <div class="header" fxLayout="column" fxLayoutAlign="center center">
    <app-divider [sectionHeader]="'Trabajos y prácticas'"></app-divider>

  </div>

  <!-- Cards Group por filas-->
  <!-- TODO: Optimizar codigo con *ngFor -->
  <div
  fxLayout="row"
  fxLayoutAlign="center"
  fxLayout.xs="column"
  fxLayout.sm="column"
  fxLayoutAlign.xs="center center"
  fxLayoutAlign.sm="center center"
  fxLayoutGap="5%"
  fxLayoutGap.sm="5%"
  >

      <app-card
        [cardTitle]="'ToDoList'"
        [cardText]="
          'Organizador para tareas que deben ser completadas, realizada en template TodoMVC.'
        "
        [url]="'https://leandroagl.github.io/Javascript-listado-de-tareas/'"
        [imgName]="'listadoDeTareas.PNG'"
        [viewLenguaje]="true"
        [lenguajes]="['javascript']"
      ></app-card>



     <app-card
       [cardTitle]="'AuthApp'"
       [cardText]="
         'Autenticación de usuarios en Angular en conjunto con MongoDB.'
       "
       [url]="'https://angualr-auth-frontback.herokuapp.com/auth/login'"
       [imgName]="'authApp.PNG'"
       [viewLenguaje]="true"
       [lenguajes]="['angular', 'node', 'mongo']"
     ></app-card>

      <app-card
        [cardTitle]="'BlackJack'"
        [cardText]="
          'Juego de BlackJack para pasar los ratos libres en puro vanilla Javascript'
        "
        [url]="'https://leandroagl.github.io/Javascript-blackjack/'"
        [imgName]="'blackJackApp.PNG'"
        [viewLenguaje]="true"
        [lenguajes]="['javascript']"
      ></app-card>



  </div>

  <div
    fxLayout="row"
    fxLayoutAlign="center"
    fxLayout.xs="column"
    fxLayout.sm="column"
    fxLayoutAlign.xs="center center"
    fxLayoutAlign.sm="center center"
    fxLayoutGap="5%"
    fxLayoutGap.sm="5%"
  >
    <app-card
      [cardTitle]="'AdminTech'"
      [cardText]="
        'Para uso en entornos HelpDesk, utilizando firebase como base de datos, validación de usuarios por Google o Microsoft, dashboard, agenda de contactos, base de conocimientos, control personal de productividad.'
      "
      [url]="'https://github.com/leandroagl/AdminTech'"
      [imgName]="'adminTech.png'"
      [viewLenguaje]="true"
      [lenguajes]="['angular', 'node', 'firebase']"
    ></app-card>

    <app-card
      [cardTitle]="'PaisesApp'"
      [cardText]="
        'Información detallada de paises con distintos filtros y vistas realizando consultas http a la API https://restcountries.com'
      "
      [url]="'https://leandroagl.github.io/Angular-03-paisesApp/'"
      [imgName]="'paisesApp.PNG'"
      [viewLenguaje]="true"
      [lenguajes]="['angular']"
    ></app-card>

    <app-card
      [cardTitle]="'GifsApp'"
      [cardText]="
        'Para divertirse un poco y buscar gifs animados, manteniendo un historial de búsquedas. Haciendo consultas http a la API ...'
      "
      [url]="'https://leandroagl.github.io/Angular-02-gifsApp/'"
      [imgName]="'gifsApp.PNG'"
      [viewLenguaje]="true"
      [lenguajes]="['angular']"
    ></app-card>
  </div>

  <!-- <div
     fxLayout="row"
  fxLayoutAlign="center"
  fxLayout.sm="column"
  fxLayoutAlign.sm="center center"
  fxLayout.xs="column"
  fxLayoutAlign.xs="center center"
  fxLayoutGap="5%"
    >
      <app-card
        [cardTitle]="'Tarjeta 7'"
        [cardText]="'Esta seria la tarjeta 7'"
      ></app-card>

      <app-card
        [cardTitle]="'Tarjeta 8'"
        [cardText]="'Por aca tendriamos la 8'"
      ></app-card>

    </div> -->
</div>
