<div class="grid-layout" fxLayout.xs="column" fxLayoutGap.xs="5%">
  <!-- Header -->
  <div class="header" fxLayout="column" fxLayoutAlign="center center">
    <app-divider [sectionHeader]="'Trabajos y prácticas'"></app-divider>

    <p class="header-text">
      Lorem, ipsum dolor sit amet consectetur adipisicing elit. Autem dolorum
      expedita, aut ex nesciunt obcaecati placeat assumenda iusto illo cum minus
      voluptate provident. Quidem veritatis excepturi numquam facere? Itaque,
      id!
    </p>
  </div>

  <!-- Cards Group por filas-->
  <div
    fxLayout="row"
    fxLayoutAlign="center"
    fxLayout.xs="column"
    fxLayoutAlign.xs="center center"
    fxLayoutGap="5%"
  >
    <app-card
      [cardTitle]="'ToDoList'"
      [cardText]="'Organizador de tareas hecho en WebPack a partir de un template'"
      [url]="'https://leandroagl.github.io/Javascript-listado-de-tareas/'"
      [imgName]="'listadoDeTareas.PNG'"
    ></app-card>

    <app-card
      [cardTitle]="'AuthApp'"
      [cardText]="'Autenticación de usuarios en Angular en conjunto con MongoDB'"
      [url]="'https://angualr-auth-frontback.herokuapp.com/auth/login'"
      [imgName]="'authApp.PNG'"
    ></app-card>
  </div>

  <div
    fxLayout="row"
    fxLayoutAlign="center"
    fxLayout.xs="column"
    fxLayoutAlign.xs="center center"
    fxLayoutGap="5%"
  >
    <app-card
    [cardTitle]="'AdminTech'"
    [cardText]="'Para uso en entornos HelpDesk, se encuentra en desarrollo'"
    [url]="'https://github.com/leandroagl/AdminTech'"

    ></app-card>

    <app-card
      [cardTitle]="'Tarjeta 5'"
      [cardText]="'Por aca tendriamos la 5'"
    ></app-card>
  </div>

  <!-- <div
     fxLayout="row"
  fxLayoutAlign="center"
  fxLayout.sm="column"
  fxLayoutAlign.sm="center center"
  fxLayout.xs="column"
  fxLayoutAlign.xs="center center"
  fxLayoutGap="5%"
    >
      <app-card
        [cardTitle]="'Tarjeta 7'"
        [cardText]="'Esta seria la tarjeta 7'"
      ></app-card>

      <app-card
        [cardTitle]="'Tarjeta 8'"
        [cardText]="'Por aca tendriamos la 8'"
      ></app-card>

    </div> -->
</div>
