
  <div
    fxLayout="row"
    fxLayoutAlign="space-between start"
    fxLayoutAlign.sm="center center"
    fxLayoutAlign.xs="center center"
    fxLayout.sm="column"
    fxLayout.xs="column"
  >
    <div class="perfil" fxLayout="column" >
      <i  class='${{iconClass1}} icon-size'></i>
      <p>{{ iconText1 }}</p>
    </div>

    <div class="perfil" fxLayout="column">
      <i class='${{ iconClass2 }} icon-size'></i>
      <p>{{ iconText2 }}</p>
    </div>

    <div class="perfil" fxLayout="column">
      <i class='${{ iconClass3 }} icon-size'></i>
      <p>{{ iconText3 }}</p>
    </div>
  </div>

